* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Assistant';
}

body {
  background: rgba(252,244,236,1);
  color: #212529;
}

/*עריכת גודל הNAVBAR */
header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background: rgba(139, 44, 48, 1);
  border-bottom: 1px solid rgba(0,0,0,0.10);
}

/*עריכת עיצוב הNAVBAR */
nav{
  max-width: 2000px;
    margin: 0 auto;
    padding: 0 40px;
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;                
}

/*עיצוב הלוגו*/
#LOGO{
  width: 140px; 
    height: auto;
    display: block;
}

/*עיצוב האייקונים*/
.nav-actions{
   display: flex;
    align-items: center;
    gap: 12px;
}

/* עיצוב תפריט הניווט */
.nav-right, .nav-left{
  flex: 1;
    display: flex;
    align-items: center;
    min-width: 0;
}
.nav-left {
    justify-content: flex-end;
}

.nav-center{
  position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 1010;
}

/* עיצוב כפתורי הניווט */
.cart-btn,
#dark-mode-toggle,
#light-mode-toggle,
#nav a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 42px;
    border-radius: 8px;
    background: transparent;
    border: none;
    cursor: pointer;
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-weight: 700;
    white-space: nowrap;
}

/* עיצוב כפתורי הניווט */
.cart-btn,
#dark-mode-toggle,
#light-mode-toggle{
  width: 42px;
    padding: 0;
}

/* עיצוב קישורי הניווט */
#nav-toggle:checked ~ #nav{
  display: flex;
  background: transparent;
  border-bottom: none;
  box-shadow: none;
}

/* עיצוב התמונה של העגלה*/
.cart-btn img{
 width: 45px;
    height: 34px;
    display: block;
    filter: invert(1);
}

/* עיצוב כפתורי מצב לילה/בהיר */
#dark-mode-toggle img,
#light-mode-toggle img{
   width: 40px;
    height: 28px;
    display: block;
    filter: invert(1);
}

/* המבורגר */
.nav-toggle{
  position: absolute;
  display: none;
}

.hamburger{
 display: flex;
    width: 42px;
    height: 42px;
    border: none;
    background: transparent;
    border-radius: 8px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 4px;
    cursor: pointer;
}

.hamburger span{
 width: 22px;
    height: 2px;
    background: white;
    display: block;
}

/* עיצוב תפריט הניווט הנפתח במובייל */
#nav{
   display: none;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    flex-direction: column;
    padding: 10px 12px 14px;
    gap: 6px;
    background: none;
    z-index: 1050;
    list-style: none;
    margin: 0;
}

#nav li{
   width: 100%;
    text-align: right;
}

#nav a{
  padding: 0 10px;
  background: rgba(139, 44, 48, 0.9);
  width: auto;
}

#light-mode-toggle{ 
  display: none; 
}

.ui-active{
   background: rgba(210, 100, 110, 0.4) !important;
  outline: 2px solid rgba(255, 255, 255, 0.3);
  outline-offset: 2px;
}

body.theme-dark {
  background-color: #1c1917;
  color: #f5f5f4;
}
/*עיצוב מצב לילה*/
body.theme-dark header{
  background: rgba(89, 22, 26, 1);
  border-bottom-color: rgba(255,255,255,0.12);
}

body.theme-dark #nav{
  background: rgba(21, 26, 32, 0.96);
  border-bottom-color: rgba(255, 255, 255, 0.12);
  
}

body.theme-dark #light-mode-toggle {
  display: inline-flex;
}

body.theme-dark #dark-mode-toggle {
  display: none;
}

body.theme-dark .cart-btn,
body.theme-dark #dark-mode-toggle,
body.theme-dark #light-mode-toggle,
body.theme-dark .hamburger{
  background:transparent;
  border: none;
}

body.theme-dark .hamburger span{
  background: #f3f4f6;
}

body.theme-dark .ui-active{
  background: rgba(255, 255, 255, 0.16);
  outline: 2px solid rgba(255,255,255,0.25);
  outline-offset: 2px;
}

body.theme-dark #nav a{
  background: rgba(89, 22, 26, 1);
  border-bottom-color: rgba(255,255,255,0.12);
  color: #f3f4f6;
}

body.theme-dark .cta h2::before {
  background: rgba(252,244,236,0.5);
}

.hero {
  position: relative;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  overflow: hidden;
}

.hero-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
}

.hero-content {
  position: relative;
  z-index: 2;
  max-width: 800px;
  padding: 20px;
  padding-top: 120px;
}

.logo-box {
  background: none; 
  border: none; 
  backdrop-filter: none; 
  border-radius: 0; 
  padding: 0; 
  margin-bottom: 40px;
}

h1 {
  font-family: "Italiana", sans-serif;
  color: rgba(139,44,48,1);
  font-size: 120px;
  letter-spacing: 6px;
  margin: 20px 0;
  text-shadow: 2px 4px 10px rgba(0, 0, 0, 0.5);
}

.tagline { 
  color: white; 
  font-family: "Italiana", sans-serif; 
  font-size: 20px; 
  letter-spacing: 6px; 
}

.desc { 
  font-size: 20px; 
  margin: 30px auto; 
  max-width: 600px;  
  color: white; 
}

.btn { 
  display: inline-flex; 
  align-items: center; 
  gap: 10px; 
  background: rgba(139,44,48,1); 
  color: #444; 
  padding: 16px 40px; 
  border-radius: 999px; 
  font-size: 18px; 
  text-decoration: none; 
  box-shadow: 4px 4px 0px rgba(139,44,48,0.2); 
}

.gallery {
  padding: 80px 20px 0px;
  background: rgba(252,244,236,1);
  text-align: center;
}

.gallery h2 {
  color: rgba(139,44,48,1);
  font-size: 48px;
  margin-bottom: 20px;
}

.gallery p {
  color: #444;
  font-size: 20px;
  margin-bottom: 50px;
}

.images {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 16px;
  max-width: 1500px;
  margin: auto;
}

.images img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 10px;
}

body.theme-dark .gallery, body.theme-dark .cta {
  background-color: #1a0506;
  border-top: none;
  color: #e7e5e4;
}

body.theme-dark .gallery h2, body.theme-dark .gallery p, body.theme-dark .cta h2, body.theme-dark .cta p {
  color: rgba(252,244,236,1);
}

.cta {
  padding: 60px 20px;
  background-color: rgba(252,244,236,1);
  text-align: center;
  position: relative;
}

.cta h2 {
  color: rgba(139,44,48,1);
  font-size: 48px;
  margin-bottom: 15px;
}

.cta h2::before {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  background: rgba(139,44,48,0.5);
  margin: 0 auto 20px;
  border-radius: 2px;
}

.cta p {
  font-size: 18px;
  color: #444;
  margin-bottom: 35px;
}
/*  פוטר */
footer { 
    background: rgba(139,44,48,1); 
    padding: 20px 20px 0; 
    color: rgba(252,244,236,1); 
    font-size: 16px; 
}

.footer-grid { 
    max-width: 1200px; 
    margin: auto; 
    display: grid; 
    grid-template-columns: 1fr; 
    gap: 15px; 
    padding-bottom: 20px; 
    text-align: center;
}

footer h3, 
footer h4 { 
    margin-bottom: 5px; 
    font-size: 18px; 
    color: rgba(252,244,236,1); 
    text-align: center;
}

footer p { 
    color: rgba(252,244,236,1); 
    font-size: 14px;
    margin-bottom: 4px; 
    text-align: center;
}

.footer-bottom { 
    border-top: 1px solid rgba(252,244,236,0.3); 
    padding: 10px 0; 
    text-align: center; 
    font-size: 12px; 
    color: rgba(252,244,236,1); 
}

/* רשתות חברתיות בפוטר */
.footer-social { 
    display: flex; 
    justify-content: center; 
    gap: 15px; 
    margin-top: 5px; 
}

.footer-social a { 
    color: rgba(252,244,236,1); 
    font-size: 20px; 
    text-decoration: none; 
}

body.theme-dark footer {
    background: rgba(89, 22, 26, 1);
    border-top: 1px solid #404040;
}

@media (min-width: 481px) {  
    .footer-grid {
        grid-template-columns: repeat(4, 1fr);
        gap: 20px;
    }
 }
    
@media (min-width: 1201px) {
    nav{
    padding: 8px 14px;      
    gap: 12px;
  }

  #LOGO{
    max-width: 130px;
  }

  .hamburger{
    display: none;            
  }

  #nav{
    display: flex;            
    position: static;

    flex-direction: row;
    align-items: center;
    gap: 10px;

    background: none;
    padding: 0;
    border-bottom: none;
  }

  #nav a{
    font-size: 15px;
    font-weight: 700;
    padding: 10px 10px;
  }
  body.theme-dark #nav{
    background: transparent;
    border-bottom: none;
  }
  footer {
        padding: 50px 20px 0;
    }

    .footer-grid {
        gap: 40px;
    }

    footer h3, footer h4 {
        margin-bottom: 15px;
        font-size: 20px;
    }

    footer p {
        font-size: 15px;
        margin-bottom: 8px;
    }
}